body{
    margin: 0;
}

#heading{
    text-align: center;
    margin-bottom: 5%;
    padding: 2% 2%;
    background-color: rgb(25, 25, 92);
    color: white;
}

#buttonToAddQuestion {
    margin: 1% 5%;
    text-align: right;
}

#addButton{
    cursor: pointer;
    padding: 0.5%;
}